name: Build AUR packages and update repo

on:
  schedule:
    - cron: "0 3 */1 * *"
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container: archlinux:latest
    env:
      PACKAGES: "vikunja healthchecks homepage filebrowser-bin semaphore-bin pgadmin4-server"
      DEPENDENCIES: "python-cron-descriptor python-cronsim python-django-stubs-ext python-oncalendar python-statsd pyzbar python-segno python-qrcode-artistic"

    steps:
      - name: Install dependencies
        run: |
          pacman -Syu --noconfirm base-devel git pacman-contrib sudo python-cryptography

      - name: Create builder user
        run: |
          useradd -m builder

      - name: Make builder user sudoer
        run: |
          echo 'builder ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers

      - name: Install AUR dependencies
        run: |
          su builder -c "mkdir -p /tmp/build"
          cd /tmp/build
          for pkg in ${DEPENDENCIES}; do
            su builder -c "git clone https://aur.archlinux.org/$pkg.git"
            cd $pkg
            if [[ "$pkg" == "python-segno" ]]; then
              sed -i '/^check(){/,/^}/d' PKGBUILD
              sed -i '/^checkdepends=(/,/^)/d' PKGBUILD
            fi
            su builder -c "makepkg -si --noconfirm --noprogressbar"
            mv *.pkg.tar.zst $GITHUB_WORKSPACE/
            cd ..
          done

      - name: Build AUR packages
        run: |
          su builder -c "mkdir -p /tmp/build"
          cd /tmp/build
          for pkg in ${PACKAGES}; do
            su builder -c "git clone https://aur.archlinux.org/$pkg.git"
            cd $pkg
            su builder -c "makepkg -sf --noconfirm --noprogressbar"
            mv *.pkg.tar.zst $GITHUB_WORKSPACE/
            cd ..
          done

      - name: Checkout gh-pages
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: gh-pages

      - name: Update repo database
        run: |
          cd $GITHUB_WORKSPACE/gh-pages
          cp $GITHUB_WORKSPACE/*.pkg.tar.zst .
          repo-add archserver.db.tar.gz ./*.pkg.tar.zst

      - name: Commit and push changes
        run: |
          cd $GITHUB_WORKSPACE/gh-pages
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Update repo $(date -u +'%Y-%m-%d %H:%M:%S')" || echo "No changes"
          git push origin gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
