name: Build AUR packages and update repo

on:
  workflow_dispatch:
    inputs:
      packages:
        description: "Spazio separato elenco pacchetti AUR da buildare"
        required: true
        default: "vikunja healthchecks"

  schedule:
    - cron: "0 3 */1 * *"

jobs:
  build:
    runs-on: ubuntu-latest
    container: archlinux:build-devel

    steps:
    - name: Install dependencies
      run: |
        pacman -Sy --noconfirm base-devel git pacman-contrib

    - name: Build AUR packages
      run: |
        mkdir -p /tmp/build
        cd /tmp/build
        for pkg in ${{ github.event.inputs.packages }}; do
          git clone https://aur.archlinux.org/$pkg.git
          cd $pkg
          makepkg -sf --noconfirm --noprogressbar
          mv *.pkg.tar.zst /github/workspace/
          cd ..
        done

    - name: Checkout gh-pages
      uses: actions/checkout@v4
      with:
        ref: gh-pages
        path: gh-pages

    - name: Update repo database
      run: |
        cd gh-pages
        cp ../*.pkg.tar.zst .
        repo-add myrepo.db.tar.gz ./*.pkg.tar.zst

    - name: Commit and push changes
      run: |
        cd gh-pages
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "Update repo $(date -u +'%Y-%m-%d %H:%M:%S')" || echo "No changes"
        git push origin gh-pages

